.about-info {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 85px;
  background: url("../img/year.png") no-repeat;
  background-position: -20px 80px;
}

.about-info div {
  display: flex;
  flex-direction: column;
  width: 985px;
  margin-left: 188px;
}

.about-info h2 {
  color: #666666;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin-top: 75px;
  margin-bottom: 25px;
}

.about-info p {
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Courier New", monospace;
  margin-top: 0;
}

.about-info button {
  background-color: #ffffff;
  border: 1px solid #00b2ff;
  border-radius: 5px;
  width: 178px;
  height: 43px;
  color: #00b2ff;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 1200px) {
  .about-info {
    width: 720px;
    margin-top: 0;
  }

  .about-info h2 {
    font-size: 32px;
    margin-top: 29px;
  }

  .about-info p {
    width: 532px;
  }
}

@media (max-width: 768px) {
  .about-info img {
    display: none;
  }

  .about-info {
    width: 290px;
  }

  .about-info div {
    margin: 0;
  }

  .about-info h2 {
    font-size: 28px;
    margin-top: 29px;
  }

  .about-info p {
    width: 290px;
  }
}
