.advantages {
  width: calc(100% - 60px);
  max-width: 1410px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 95px;
  padding: 0 30;
  padding-top: 112px;
}

.advantages ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages li {
  position: relative;
  width: calc(50% - 42px - 30px);
  border: $advantage-border;
  border-left: 3px solid $bg-blue;
  margin-bottom: 30px;
  padding-bottom: 65px;
  padding-right: 42px;
  cursor: pointer;
}

.advantages h3 {
  color: $bg-blue;
  font-weight: 400;
  font-size: 24px;
  margin-top: 100px;
  margin-left: 40px;
}

.advantages svg {
  position: absolute;
  top: 40px;
  left: 40px;
}

.advantages p {
  font-family: $font-mono;
  margin-left: 42px;
  margin-bottom: 0;
  font-size: 16px;
}

.advantages li:hover {
  transition: all 0.5s linear;
  background: $bg-blue;
  color: #ffffff;
  border: 1px solid $bg-blue;
  border-left: 3px solid $bg-blue;
}

.advantages li:hover svg path {
  fill: #ffffff;
  transition: all 0.5s linear;
}

.advantages li:hover h3 {
  color: #ffffff;
  transition: all 0.5s linear;
}

@media (max-width: 1023px) {
  .advantages {
    width: calc(100% - 50px);
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0 25px;
  }

  .advantages svg {
    top: 22px;
    left: 25px;
  }

  .advantages li {
    width: calc(50% - 30px - 10px);
    padding-bottom: 20px;
    padding-right: 21px;
  }

  .advantages h3 {
    margin-top: 70px;
    margin-left: 27px;
    margin-bottom: 17px;
    font-size: 24px;
  }

  .advantages p {
    margin-left: 27px;
  }
}

@media (max-width: 767px) {
  .advantages {
    margin-top: 36px;
    width: calc(100% - 30px);
    padding: 0 15px;
  }

  .advantages li {
    width: 100%;
    margin-bottom: 20px;
    border-left: 2px solid $bg-blue;
  }

  .advantages h3 {
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 5px;
  }

  .advantages p {
    margin-top: 2px;
  }
}
