.advantages {
  width: 1170px;
  margin: 0 auto;
  margin-top: 112px;
  padding-left: 20px;
}

.advantages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages li {
  position: relative;
  width: 566px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $bg-blue;
  margin-bottom: 30px;
  padding-bottom: 49px;
}

.advantages h3 {
  color: $bg-blue;
  font-weight: 400;
  font-size: 24px;
  margin-top: 100px;
  margin-left: 40px;
}

.advantages svg {
  position: absolute;
  top: 40px;
  left: 40px;
}

.advantages p {
  font-family: $font-mono;
  margin-left: 42px;
  margin-bottom: 0;
  width: 483px;
  font-size: 16px;
}

.advantages li:hover {
  cursor: pointer;
  background: $bg-blue;
  color: #ffffff;
  border: 1px solid $bg-blue;
  border-left: 3px solid $bg-blue;
}

.advantages li:hover svg path {
  fill: #ffffff;
}

.advantages li:hover h3 {
  color: #ffffff;
}

@media (max-width: 1199px) {
  .advantages {
    width: 720px;
    margin-top: 54px;
    padding: 0;
  }

  .advantages svg {
    top: 22px;
    left: 25px;
  }

  .advantages li {
    width: 345px;
    padding-bottom: 20px;
  }

  .advantages h3 {
    margin-top: 70px;
    margin-left: 27px;
    margin-bottom: 17px;
    font-size: 24px;
  }

  .advantages p {
    width: 297px;
    margin-left: 27px;
  }
}

@media (max-width: 767px) {
  .advantages {
    margin-top: 36px;
    width: 290px;
  }

  .advantages li {
    width: 290px;
    margin-bottom: 20px;
    border-left: 2px solid $bg-blue;
  }

  .advantages h3 {
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
  }

  .advantages p {
    width: 245px;
    margin-top: 2px;
  }
}
