.footer {
  width: 100%;
  background-color: $bg-footer;
  display: flex;
  flex-direction: column;
}

.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: $footer-border;
  padding-top: 65px;
  padding-bottom: 45px;
}

.footer h3 {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  color: $bg-dark;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}

.footer__social {
  padding-left: 10px;
  width: 422px;
}

.footer__social ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-top: 50px;
}

.footer__social li {
  margin-right: 16px;
}

.footer__social a:hover {
  opacity: 0.8;
  transition: all 0.5s linear;
}

.footer__tumbler {
  display: none;
}

.footer__sitemap {
  width: 655px;
}

.footer__sitemap ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 100px;
  padding: 0;
  margin: 0;
}

.footer__sitemap li {
  margin-right: 75px;
}

.footer__sitemap a,
.footer__contacts p {
  font-family: $font-mono;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  color: $bg-dark;
  margin: 0;
}

.footer__sitemap a:hover {
  opacity: 0.8;
  transition: all 0.5s linear;
}

.footer__contacts {
  width: 333px;
  display: flex;
  flex-direction: column;
}

.footer__contacts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__contacts a {
  text-decoration: none;
  font-family: $font-mono;
  font-size: 15px;
  opacity: 0.5;
  color: $bg-dark;
}

.footer__contacts a:hover {
  opacity: 0.8;
  transition: all 0.5s linear;
}

.footer__copyright {
  width: 1410px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 52px;
  align-items: center;
}

.footer__copyright p,
.footer__copyright a {
  width: 20%;
  font-family: $font-mono;
  font-size: 13px;
  text-transform: uppercase;
  color: $bg-dark;
  opacity: 0.5;
}

.footer__copyright a:hover {
  opacity: 0.8;
  transition: all 0.5s linear;
}

.footer__developer {
  text-align: right;
  order: 5;
}

.footer__conditions {
  text-align: center;
}

.footer__copyright::after {
  width: 20%;
  content: "";
  display: block;
  order: 4;
}

@media (max-width: 1199px) {
  .footer__wrapper {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .footer__social {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: $footer-border;
    padding-left: 0;
    padding-bottom: 18px;
  }

  .footer__social::after {
    content: "1999-2018 SD Service Devices";
    text-transform: uppercase;
    position: absolute;
    left: 44%;
    font-size: 13px;
    font-family: $font-mono;
    letter-spacing: 0.04em;
    opacity: 0.5;
  }

  .footer__logo {
    margin-right: 144px;
  }

  .footer__social ul {
    width: 360px;
    justify-content: flex-end;
    margin: 0;
  }

  .footer__social li {
    margin-right: 0;
    margin-left: 15px;
  }

  .footer__sitemap {
    width: 360px;
    margin-top: 35px;
    margin-right: 20px;
  }

  .footer__sitemap ul {
    flex-wrap: nowrap;
    height: auto;
  }

  .footer__sitemap li {
    line-height: 25px;
  }

  .footer__contacts {
    margin-top: 35px;
    width: 340px;
  }

  .footer__contacts p {
    margin-bottom: 3px;
  }

  .footer__copyright p {
    display: none;
  }

  .footer__copyright a {
    width: auto;
  }

  .footer__copyright::after {
    display: none;
  }

  .footer__copyright {
    width: 720px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 25px;
    letter-spacing: 0.04em;
  }
}

@media (max-width: 767px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .footer__social {
    flex-direction: column;
    padding-bottom: 45px;
  }

  .footer__social::after {
    left: calc(50% - 115px);
    top: 105px;
  }

  .footer__logo {
    margin-right: 0;
    margin-top: 25px;
    margin-bottom: 75px;
  }

  .footer__social ul {
    width: 290px;
    justify-content: center;
    margin: 0;
  }

  .footer__social li {
    margin: 0 7px;
  }

  .footer__contacts li {
    margin-right: 75px;
  }

  .footer__sitemap {
    width: 290px;
    margin: 0 auto;
    padding: 28px 0;
  }

  .footer__sitemap li {
    font-size: 15px;
  }

  .footer__copyright p {
    display: none;
  }

  .footer div {
    position: relative;
  }

  .footer h3 {
    display: flex;
    width: 290px;
    margin: 0 auto;
  }

  .footer label {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer__tumbler + h3 label::after {
    content: "";
    display: inline;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: right center;
    width: 16px;
    height: 16px;
    flex-grow: 1;
  }

  .footer__tumbler:checked + h3 label::after {
    background-image: url("../img/icon-minus.svg");
  }


  .footer__contacts {
    margin: 0 auto;
    padding: 28px 0 28px 0;
    width: 100%;
    border-top: $footer-border;
  }

  .footer__contacts li:first-of-type,
  .footer__sitemap li:first-of-type {
    margin-top: 20px;
  }

  .footer__contacts ul {
    width: 290px;
    margin: 0 auto;
  }

  .footer__tumbler {
    opacity: 0;
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
  }

  .footer__tumbler:checked ~ ul {
    max-height: 400px;
    overflow: hidden;
    opacity: 1;
    transition-property: max-height, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: linear, linear;
    transition-delay: 0, 0;
  }

  .footer__tumbler:not(:checked) ~ ul {
    max-height: 0;
    opacity: 0;
    transition-property: max-height, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: linear, linear;
    transition-delay: 0, 0;
  }

  .footer__copyright {
    height: auto;
    width: 290px;
    padding-top: 28px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 28px;
  }

  .footer__conditions {
    margin-bottom: 25px;
  }
}
