.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #203c42;
  background-image: url("../img/background.png");
  color: #ffffff;
  min-height: 845px;
  width: 100%;
  padding-top: 32px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 1420px;
  margin: 0 auto;
}

.header__logo {
  background: url("../img/logo-header.png") no-repeat;
  margin-left: 10px;
  height: 52px;
  width: 202px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}

.header__logo::after {
  content: "";
  display: block;
  width: 37px;
  height: 11px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-left: 322px;
}

.header a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "PT Mono", "Courier New", monospace;
}

.header a:hover {
  opacity: 0.8;
}

.header__mail::before {
  content: "";
  display: block;
  background-image: url("../img/mail-desktop.png");
  width: 20px;
  height: 14px;
  margin-right: 20px;
}

.header a::before {
  margin-left: 88px;
}

.header__tel::before {
  content: "";
  display: block;
  background-image: url("../img/phone-desktop.png");
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.header__nav button {
  background: transparent;
  color: #ffffff;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  width: 180px;
  height: 45px;
  margin-left: 50px;
}

.header__nav button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header__info {
  width: 1411px;
  margin: 0 auto;
  position: relative;
}

.header__info::after {
  content: "";
  width: 705px;
  height: 515px;
  top: 172px;
  right: -85px;
  display: block;
  position: absolute;
  background-image: url("../img/board-desktop.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.header__info h2 {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 267px;
  letter-spacing: 0.07em;
}

.header__info p {
  padding-left: 100px;
  position: relative;
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 22px;
  line-height: 34px;
  width: 683px;
}

.header__info p::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 7px;
  width: 66px;
  height: 2px;
  background-color: #ffffff;
  outline: none;
}

.header__free-response {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00b2ff;
  border-radius: 5px;
  border: none;
  width: 407px;
  height: 55px;
  margin-top: 40px;
  margin-left: 100px;
}

.header__free-response::after {
  content: "получить бесплатную консультацию";
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.header__info span {
  font-family: "PT Mono", "Courier New", monospace;
  position: absolute;
  transform: rotate(-90deg);
  font-size: 14px;
  opacity: 0.5;
  top: 648px;
  left: -30px;
}

@media (max-width: 1200px) {
  .header {
    min-height: 666px;
    padding-top: 20px;
  }

  .header__nav {
    width: 719px;
  }

  .header__logo {
    margin-left: 0;
  }

  .header__logo::after {
    margin-left: 562px;
  }

  .header a span {
    display: none;
  }

  .header__nav button {
    display: none;
  }

  .header__mail::before {
    background-image: url("../img/mail-tablet.png");
    width: 26px;
    height: 19px;
  }

  .header__tel::before {
    background-image: url("../img/phone-tablet.png");
    width: 24px;
    height: 24px;
  }

  .header__mail {
    width: 26px;
    margin-right: 34px;
  }

  .header__tel {
    width: 24px;
  }

  .header a::before {
    margin-left: 0;
    margin-right: 0;
  }

  .header__info {
    width: 719px;
  }

  .header__info h2 {
    font-size: 60px;
    line-height: 70px;
    width: 470px;
    margin-top: 117px;
    margin-left: 60px;
    margin-bottom: 28px;
  }

  .header__info::after {
    width: 260px;
    height: 340px;
    top: 42px;
    right: -20px;
    display: block;
    position: absolute;
    background-image: url("../img/board-tablet.png");
  }

  .header__info p {
    font-size: 18px;
    line-height: 156%;
    width: 356px;
    padding-left: 112px;
    margin-top: 0;
  }

  .header__info p::before {
    top: 15px;
    left: 70px;
    width: 33px;
  }

  .header__free-response {
    font-size: 16px;
    width: 379px;
    padding: 0;
    margin-left: 115px;
    margin-top: 55px;
  }

  .header__info span {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    min-height: 632px;
    padding-top: 15px;
  }

  .header__nav {
    width: 287px;
  }

  .header__logo {
    background: url("../img/logo-header-mobile.png") no-repeat;
    height: 38px;
  }

  .header__logo::after {
    margin-left: 152px;
  }

  .header__mail {
    margin-right: 23px;
  }

  .header__info {
    width: 287px;
  }

  .header__info h2 {
    position: relative;
    font-size: 40px;
    line-height: 47px;
    width: 287px;
    margin-top: 232px;
    margin-left: 0;
    z-index: 2;
  }

  .header__info::after {
    top: 38px;
    left: 10px;
    background-image: url("../img/board-mobile.png");
    z-index: 1;
  }

  .header__info p {
    padding-left: 50px;
    font-size: 16px;
    width: 245px;
  }

  .header__info p::before {
    left: 0;
  }

  .header__free-response {
    width: 287px;
    margin-left: 0;
    margin-top: 42px;
  }

  .header__free-response::after {
    content: "бесплатная консультация";
  }

  .header__info span {
    display: none;
  }
}
