.header {
  position: relative;
  background-color: #203c42;
  color: #ffffff;
  width: 100%;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 878px;
  display: block;
  background-image: url("../img/background.png");
  background-color: #1b2d37;
  background-size: 100% 878px;
  z-index: 2;
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 1420px;
  margin: 32px auto 0 auto;
  z-index: 10;
}

.header__logo img {
  width: 52px;
  height: 52px;
}

.header__logo::after {
  content: "";
  display: block;
  width: 150px;
  height: 52px;
  background-image: url("../img/logo-header-after.png");
  backgroung-size: 150px 52px;
}

.header__logo {
  margin-left: 10px;
  height: 52px;
  width: 202px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .header__logo::after {
    background-image: url("../img/logo-header-after@2x.png");
  }

  .header__mail::before {
    background-image: url("../img/mail-desktop@2x.png");
  }

  .header__tel::before {
    background-image: url("../img/phone-desktop@2x.png");
  }
}

.header a {
  color: #ffffff;
  font-family: $font-mono;
}

.header a:hover {
  opacity: 0.8;
}

.header__toggle {
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 37px;
  height: 11px;
  margin-right: 300px;
}

.header__mail::before {
  content: "";
  display: block;
  background-image: url("../img/mail-desktop.png");
  background-size: 19px 14px;
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
  margin-right: 20px;
}

.header a::before {
  margin-left: 88px;
}

.header__tel::before {
  content: "";
  display: block;
  background-image: url("../img/phone-desktop.png");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.header__open-modal {
  background: transparent;
  color: #ffffff;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  width: 180px;
  height: 45px;
  margin-left: 50px;
}

.header__open-modal:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 1199px) {
  .header {
    min-height: 666px;
  }

  .header__nav {
    margin-top: 20px;
    width: 719px;
  }

  .header__logo {
    margin-left: 0;
  }

  .header a span {
    display: none;
  }

  .header__toggle {
    margin-right: 40px;
  }

  .header__open-modal {
    display: none;
  }

  .header__mail::before {
    background-image: url("../img/mail-tablet.png");
    background-size: 26px 19px;
    width: 26px;
    height: 19px;
  }

  .header__tel::before {
    background-image: url("../img/phone-tablet.png");
    background-size: 25px 24px;
    width: 24px;
    height: 24px;
  }

  .header__mail {
    width: 26px;
    margin-right: 34px;
  }

  .header__tel {
    width: 24px;
  }

  .header a::before {
    margin-left: 0;
    margin-right: 0;
  }


  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    .header__mail::before {
      background-image: url("../img/mail-tablet@2x.png");
    }

    .header__tel::before {
      background-image: url("../img/phone-tablet@2x.png");
    }
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 632px;
  }

  .header__nav {
    margin-top: 10px;
    width: 287px;
  }

  .header__logo img {
    width: 38px;
    height: 38px;
  }

  .header__logo::after {
    display: none;
  }

  .header__toggle {
    margin-right: 30px;
  }

  .header__mail {
    margin-right: 23px;
  }

  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    .header__logo {
      background-image: url("../img/logo-header-mobile@2x.png");
    }
  }
}
