.header {
  position: relative;
  background-color: $bg-header;
  color: #ffffff;
  width: 100%;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 878px;
  display: block;
  background-image: url("../img/board-desktop.png"), url("../img/triangle-group.png"), url("../img/background.png");
  background-size: 705px 515px, 635px 515px, 100% 878px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: calc(50% + 420px) 260px, calc(50% + 390px) 255px, 0 0;
  background-color: $bg-dark;
  z-index: 2;
}

.header__nav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  max-width: 1430px;
  width: calc(100% - 20px);
  z-index: 10;
  margin: 0 auto;
  margin-top: 32px;
}

.header__logo img {
  width: 52px;
  height: 52px;
}

.header__logo::after {
  content: "";
  display: block;
  width: 150px;
  height: 52px;
  background-image: url("../img/logo-header-after.png");
  background-size: 150px 52px;
}

.header .header__logo {
  margin-left: 0;
  height: 52px;
  width: 202px;
  display: flex;
  align-items: center;
}

@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .header::before {
    background-image: url("../img/board-desktop@2x.png"), url("../img/triangle-group@2x.png"), url("../img/background.png");
  }

  .header__logo::after {
    background-image: url("../img/logo-header-after@2x.png");
  }

  .header__mail::before {
    background-image: url("../img/mail-desktop@2x.png");
  }

  .header__tel::before {
    background-image: url("../img/phone-desktop@2x.png");
  }
}

.header a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: #ffffff;
  font-family: $font-mono;
  margin-left: auto;
}

.header a span {
  white-space: nowrap;
}

.header a:hover {
  opacity: 0.8;
  transition: all 500ms linear;
}

.header__toggle {
  border: none;
  cursor: pointer;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 37px;
  height: 11px;
  margin-left: 118px;
  margin-right: auto;
}

.header__toggle:hover {
  opacity: 0.8;
  transition: all 500ms linear;
}

.header__mail::before {
  content: "";
  display: inline-block;
  background-image: url("../img/mail-desktop.png");
  background-size: 19px 14px;
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
  margin-right: 20px;
}

.header__tel::before {
  content: "";
  display: inline-block;
  background-image: url("../img/phone-desktop.png");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.header__open-modal {
  background: transparent;
  color: #ffffff;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  width: 180px;
  height: 45px;
  margin-left: 50px;
  cursor: pointer;
}

.header__open-modal:hover {
  transition: all 500ms linear;
  opacity: 0.8;
}

@media (max-width: 1023px) {
  .header__nav {
    justify-content: flex-end;
    margin-top: 20px;
    width: 719px;
  }

  .header a {
    margin-left: 0;
  }

  .header::before {
    min-height: 685px;
    background-size: 460px 330px, 500px 400px, 100% 685px;
    background-position: calc(50% + 355px) 115px, calc(50% + 315px) 70px, 0 0;
  }

  .header__logo {
    margin-left: 0;
  }

  .header a span {
    display: none;
  }

  .header__toggle {
    margin-right: 40px;
    margin-left: auto;
  }

  .header__open-modal {
    display: none;
  }

  .header__mail::before {
    background-image: url("../img/mail-tablet.png");
    background-size: 26px 19px;
    width: 26px;
    height: 19px;
  }

  .header__tel::before {
    background-image: url("../img/phone-tablet.png");
    background-size: 25px 24px;
    width: 24px;
    height: 24px;
  }

  .header__mail {
    width: 26px;
    margin-right: 34px;
  }

  .header__tel {
    width: 24px;
  }

  .header a::before {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    .header__mail::before {
      background-image: url("../img/mail-tablet@2x.png");
    }

    .header__tel::before {
      background-image: url("../img/phone-tablet@2x.png");
    }
  }
}

@media (max-width: 767px) {
  .header__nav {
    margin-top: 10px;
    width: 287px;
  }

  .header::before {
    min-height: 650px;
    background-size: 300px 220px, 520px 380px, 100% 650px;
    background-position: calc(50% + 15px) 90px, calc(50% + 255px) 60px, 0 0;
  }

  .header__logo img {
    width: 38px;
    height: 38px;
  }

  .header__logo::after {
    display: none;
  }

  .header__toggle {
    margin-right: 30px;
  }

  .header__mail {
    margin-right: 23px;
  }
}
