.main-banner {
  max-width: 1410px;
  width: calc(100% - 60px);
  paddind: 0 30px;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  z-index: 10;
  min-height: 560px;
  margin-bottom: 55px;
}

.main-banner h2 {
  color: #ffffff;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 232px;
  letter-spacing: 0.07em;
  line-height: 94px;
  margin-bottom: 0;
}

.main-banner p {
  color: #ffffff;
  margin-top: 27px;
  padding-left: 100px;
  position: relative;
  font-family: $font-mono;
  font-size: 22px;
  line-height: 34px;
  width: 683px;
}

.main-banner p::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 7px;
  width: 66px;
  height: 2px;
  background-color: #ffffff;
  outline: none;
}

.main-banner__response {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-blue;
  border-radius: 5px;
  border: none;
  width: 407px;
  height: 55px;
  margin-top: 45px;
  margin-left: 100px;
}

.main-banner__response:hover {
  opacity: 0.8;
  transition: all 500ms linear;
}

.main-banner__response span {
  text-transform: uppercase;
  color: #ffffff;
}

.main-banner__response-mobile {
  display: none;
}

.main-banner__scroll {
  background: none;
  border: none;
  color: #ffffff;
  font-family: $font-mono;
  position: absolute;
  transform: rotate(-90deg);
  font-size: 14px;
  opacity: 0.8;
  top: 420px;
  left: -35px;
  cursor: pointer;
  z-index: 100;
}

.main-banner__scroll:hover {
  opacity: 1;
  transition: all 500ms linear;
}


@media (max-width: 1023px) {
  .main-banner {
    width: 100%;
    min-height: 550px;
  }

  .main-banner h2 {
    font-size: 60px;
    line-height: 70px;
    width: 50%;
    margin-top: 117px;
    margin-left: 60px;
    margin-bottom: 28px;
  }

  .main-banner p {
    font-size: 18px;
    line-height: 156%;
    width: 50%;
    padding-left: 112px;
    margin-top: 0;
  }

  .main-banner p::before {
    top: 15px;
    left: 70px;
    width: 33px;
  }

  .main-banner__response {
    font-size: 16px;
    width: 379px;
    padding: 0;
    margin-left: 115px;
    margin-top: 55px;
  }

  .main-banner__scroll {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-banner {
    min-height: 370px;
    width: calc(100% - 30px);
    padding: 0 15px;
  }

  .main-banner h2 {
    position: relative;
    font-size: 40px;
    line-height: 47px;
    width: 100%;
    margin-top: 222px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }

  .main-banner p {
    margin: 0 auto;
    padding-left: 50px;
    font-size: 16px;
    width: calc(100% - 50px);
  }

  .main-banner p::before {
    left: 0;
  }

  .main-banner__response {
    width: 100%;
    max-width: 285px;
    margin: 0 auto;
    margin-top: 42px;
  }

  .main-banner__response-mobile {
    display: inline;
  }

  .main-banner__response-desktop {
    display: none;
  }
}
