.modal {
  box-sizing: border-box;
  width: 490px;
  min-height: 605px;
  position: fixed;
  top: 135px;
  left: calc(50% - 240px);
  background-color: $bg-blue;
  padding: 38px 40px 36px 40px;
  z-index: 100;
}

.modal h2 {
  margin: 0;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.modal p {
  font-family: $font-mono;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
  width: 385px;
}

.modal__form input,
.modal__form textarea {
  color: #ffffff;
  width: 385px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 25px;
  border: none;
  resize: none;
}

.modal__form input:focus,
.modal__form textarea:focus,
.modal__form input:hover,
.modal__form textarea:hover {
  opacity: 0.8;
}

.modal__form input::placeholder,
.modal__form textarea::placeholder {
  font-family: $font-mono;
  font-size: 16px;
  color: #ffffff;
  opacity: 1;
}

.modal__form input {
  height: 52px;
  margin-bottom: 31px;
}

.modal__form textarea {
  font-family: $font-mono;
  font-size: 16px;
  height: 91px;
  padding-top: 13px;
  margin: 0;
}

.modal__form button[type="submit"] {
  margin-top: 20px;
  margin-bottom: 34px;
  height: 47px;
  width: 410px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: $bg-blue;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.modal__form button[type="submit"]:hover {
  opacity: 0.8;
}

.modal__form input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.modal__form label {
  font-family: $font-mono;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  width: 410px;
  color: #ffffff;
  opacity: 0.8;
  cursor: pointer;
  outline: none;
}

.modal__form label:hover {
  opacity: 1;
}

.modal__form label::before {
  content: "";
  display: block;
  min-width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  margin-right: 33px;
}

.modal__form input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.modal__close {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  right: 19px;
  background-color: $bg-blue;
  border: 0;
  background-image: url("../img/close.svg");
  cursor: pointer;
}
