.services {
  background-color: #1b2d37;
  color: #ffffff;
  width: 100%;
  min-height: 938px;
}

.services h3 {
  width: 1170px;
  margin: 0 auto;
  padding-top: 93px;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 47px;
}

.services ul {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 127px;
}

.services li {
  position: relative;
  min-height: 620px;
  width: 370px;
  background-repeat: no-repeat;
}

.services li::after {
  content: "";
  cursor: pointer;
  background-image: url("../img/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  background-color: #00b2ff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.services li:nth-of-type(1) {
  background-image: url("../img/service-desktop-1.png");
}

.services li:nth-of-type(2) {
  background-image: url("../img/service-desktop-2.png");
}

.services li:nth-of-type(3) {
  background-image: url("../img/service-desktop-3.png");
}

.services a {
  opacity: 1;
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  line-height: 30px;
  padding-top: 53px;
  padding-left: 50px;
  padding-right: 150px;
  height: 100%;
  width: 100%;
  color: #ffffff;
}

.services p {
  margin: 0;
}

.services a:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .services h3 {
    width: 720px;
  }

  .services ul {
    width: 720px;
    margin-bottom: 0;
  }

  .services li {
    min-height: 256px;
    width: 715px;
    margin-bottom: 35px;
  }

  .services li:nth-of-type(1) {
    background-image: url("../img/service-tablet-1.png");
  }

  .services li:nth-of-type(2) {
    background-image: url("../img/service-tablet-2.png");
  }

  .services li:nth-of-type(3) {
    background-image: url("../img/service-tablet-3.png");
  }

  .services a {
    padding-top: 44px;
    padding-left: 44px;
    padding-right: 500px;
  }

  .services p {
    font-size: 20px;
    line-height: 30px;
  }
}


@media (max-width: 768px) {
  .services h3 {
    width: 290px;
    font-size: 28px;
  }

  .services ul {
    width: 290px;
    margin-bottom: 0;
  }

  .services li {
    min-height: 256px;
    width: 290px;
    margin-bottom: 35px;
  }

  .services li:nth-of-type(1) {
    background-image: url("../img/service-mobile-1.png");
  }

  .services li:nth-of-type(2) {
    background-image: url("../img/service-mobile-2.png");
  }

  .services li:nth-of-type(3) {
    background-image: url("../img/service-mobile-3.png");
  }

  .services a {
    padding-top: 23px;
    padding-left: 35px;
    padding-right: 90px;
  }
}
